@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 100vw;
	cursor: none;
	overflow-x: hidden;
}
html {
	scroll-behavior: smooth;
}
html::-webkit-scrollbar {
	width: 0.6em;
	height: 0.6em;
}
html::-webkit-scrollbar-thumb {
	background: linear-gradient(#ebe4f7, #fbf4ff);
	border-radius: 16px;
	box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%),
		inset -2px -2px 2px rgb(0 0 0 / 25%);
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
}
html::-webkit-scrollbar-track {
	background: #000;
}
/* Custom cursor Start */
.swal2-popup {
	cursor: auto !important;
}
.cursor {
	width: 20px;
	height: 20px;
	/* border: 1px solid #fff; */
	background: #fff;
	border-radius: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	pointer-events: none;
	transition: all 0.2s ease-in-out;
	transition-property: transform;
	mix-blend-mode: difference;
	z-index: 100;
}
.onHeading {
	/*border: 1px solid #fff;*/
	transform: scale(5);
}
.onPara {
	transform: scale(3);
}
.onImage {
	transform: scale(20);
	mix-blend-mode: hue;
}
/* Custom cursor End */
.container {
	width: 100%vw;
	height: 100vh;
	display: flex;
	background-color: #000066;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	color: #fff;
}
.container h1 {
	position: relative;
	font-family: Space Mono;
}
.container h1::before,
.container h1::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.container h1::before {
	background: #000066;
	animation: typewriter 6s steps(32) 1s forwards;
}
.container h1::after {
	width: 0.125em;
	background: #fff;
	animation: typewriter 6s steps(32) 1s forwards,
		cursor 500ms steps(32) infinite;
}
.container p {
	margin-top: 1em;
	font-family: Roboto;
	opacity: 0;
	transform: translateY(3em);
	animation: subTitle 2s ease calc(6s + 0.5s) forwards;
}
.container p a {
	color: #3344ff;
	text-decoration: none;
	font-weight: 600;
}
.container svg {
	position: absolute;
	bottom: 5em;
	left: 50%;
	transform: translateX(-50%);
	fill: #fff;
}
.container a {
	cursor: none;
}
.content {
	width: 100%;
}
.content p {
	text-align: justify;
}
.sign {
	position: absolute;
	bottom: 0;
	right: 8em;
}
.sign svg {
	width: 10vw;
	fill: #000066;
}
#sigenature {
	stroke-dasharray: 595;
	stroke-dashoffset: 595;
	animation: sign 4s ease 7s forwards;
}
@keyframes sign {
	to {
		stroke-dashoffset: 0;
	}
}
@media screen and (max-width: 500px) {
	.sign {
		bottom: 0em;
		right: 4em;
	}
	.sign svg {
		width: 20vw;
	}
	#sigenature {
		animation-delay: 0.5s;
	}
}
/* Intro Section Start */
.intro {
	width: 100%;
	height: 100vh;
	background: #000066;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 2em;
	position: relative;
	z-index: 1;
	overflow: hidden;
	color: #fff;
	/* cursor: url("components/img/html5-brands\ 2.png"), auto; */
}
.intro p {
	font-family: Roboto, sans-serif;
	font-size: 1.3em;
	font-weight: 500;
	margin: 0 2em;
	text-align: justify;
}
.intro .text .para a {
	text-decoration: none;
	color: #ff8000;
	cursor: none;
	transition: 0.5s ease;
}
.intro .text .para a:hover {
	color: #3344ff;
}
@media screen and (max-width: 900px) {
	.intro {
		flex-direction: column;
	}
	.intro p {
		color: #fff;
	}
	.intro .text .para a {
		cursor: pointer;
	}
}
/* Intro Section End */
/* Skills Section Start */
.skills {
	position: relative;
	width: 100vw;
	height: 100vh;
	background: #3344ff;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	overflow: hidden;
	z-index: 1;
}
.skills svg {
	width: 100vw;
	position: absolute;
	top: 0;
	z-index: -1;
}
.skills h1 {
	font-family: Roboto, sans-serif;
	font-size: 3em;
	color: #fff;
	text-shadow: 3px 3px #3344ff;
}
.skill-container {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}
.skill-container .left {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.skill-container .left .item {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.skill-container .left img {
	margin: 1.25em 2.5em;
}
.skill-container .left p {
	font-family: Roboto, sans-serif;
	font-weight: 400;
	justify-self: flex-start;
	text-align: center;
	color: #fff;
}
@media screen and (max-width: 900px) {
	.skills {
		height: auto;
	}
	.skills h1 {
		margin: 1em 0;
	}
	.skills .left {
		justify-items: center;
	}
	.skill-container {
		flex-direction: column;
	}
	.skill-container .left .item {
		width: 120px;
		height: 120px;
	}
	.skill-container .left .item:nth-child(4) img {
		width: 70%;
	}
	.skill-container .left .item:nth-child(6) img {
		width: 25%;
	}
	.skill-container .left img {
		width: 60%;
		margin: 0.5em 1em;
	}
	.skills .right {
		margin: 3em 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.skills .right img {
		width: 85%;
	}
}
@media screen and (max-width: 430px) {
	.skill-container .left img {
		width: 45%;
		margin: 0.5em 1em;
	}
}
/* Skills Section End */
.circle {
	position: absolute;
	border-radius: 50%;
	background: white;
	/* animation: ripple 15s infinite; */
	box-shadow: 0px 0px 1px 0px #508fb9;
	z-index: -1;
}
.square {
	position: absolute;
	/* border-radius: 50%; */
	background: white;
	/* animation: ripple 15s infinite; */
	box-shadow: 0px 0px 1px 0px #508fb9;
	z-index: -1;
}
.small {
	width: 200px;
	height: 200px;
	left: -100px;
	top: -100px;
}
.medium {
	width: 400px;
	height: 400px;
	left: -200px;
	top: -200px;
}
.large {
	width: 600px;
	height: 600px;
	left: -300px;
	top: -300px;
}
.xlarge {
	width: 800px;
	height: 800px;
	left: -400px;
	top: -400px;
}
.xxlarge {
	width: 1000px;
	height: 1000px;
	left: -500px;
	top: -500px;
}
.large1 {
	width: 200px;
	height: 200px;
	right: -100px;
	bottom: -100px;
}
.xlarge1 {
	width: 400px;
	height: 400px;
	right: -200px;
	bottom: -200px;
}
.xxlarge1 {
	width: 600px;
	height: 600px;
	right: -300px;
	bottom: -300px;
}
.shade1 {
	opacity: 0.2;
}
.shade2 {
	opacity: 0.5;
}
.shade3 {
	opacity: 0.7;
}
.shade4 {
	opacity: 0.8;
}
.shade5 {
	opacity: 0.9;
}

@keyframes typewriter {
	to {
		left: 100%;
	}
}
@keyframes cursor {
	to {
		background: transparent;
	}
}
@keyframes subTitle {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes ripple {
	0% {
		transform: scale(0.8);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(0.8);
	}
}
/* responsive behaviour */
@media screen and (max-width: 650px) {
	body {
		cursor: auto;
	}
	.cursor {
		display: none;
	}
	.container h1 {
		font-size: 1.5em;
	}
	.container p {
		font-size: 0.75em;
	}
	.container a {
		cursor: pointer;
	}
	.intro {
		flex-direction: column;
	}
	.intro img {
		margin-bottom: 2em;
	}
}
@media screen and (max-width: 500px) {
	.container h1 {
		font-size: 2em;
		padding-left: 0.5em;
	}
	.container p {
		font-size: 0.9em;
		animation-delay: 0.4s;
	}
	.container h1 span {
		font-size: 1.2em;
		display: block;
	}
	.container h1::before,
	.container h1::after {
		display: none;
	}
	.intro .text {
		font-size: 0.8em;
	}
}

/* Project start */
.projects {
	width: 100vw;
	min-height: 100vh;
	background: #f0f0f0;
	font-family: "Open Sans", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	z-index: 1;
}
.projects svg {
	width: 100vw;
	position: absolute;
	top: 0;
	z-index: -1;
}
.projects h1 {
	font-size: 3em;
	padding: 0.5em 0;
	color: #fff;
	text-shadow: 3px 3px #cc6600;
	font-family: Roboto, sans-serif;
}
.projects h2 {
	font-size: 1.75em;
	margin-bottom: 0.5em;
	text-transform: capitalize;
}
.projects p {
	text-align: justify;
	line-height: 1.8em;
	padding: 0 1em 0 0;
	margin-bottom: 1em;
}
.projects .projimg {
	border: 3px solid #9e9e9e;
	border-radius: 0.25em;
}
.projects a,
.projects .gitlink {
	text-decoration: none;
	background: #3344ff;
	padding: 0.5em 1em;
	color: #fff;
	border-radius: 0.25em;
	cursor: none;
	transition: 0.2s ease-in-out;
}
.projects .gitlink {
	margin-left: 2em;
	background: #f40057;
}
.projects .gitlink:hover {
	background: #d4004b;
}
.projects a:hover {
	background: #5362ff;
}
.projects .proj {
	width: 95%;
	display: flex;
	justify-content: space-evenly;
	margin: 0.75em 0;
	padding: 2em;
	background: #fff;
	border-radius: 0.25em;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
		0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.projects .proj .left,
.projects .proj .right {
	width: 50%;
	padding: 0.5em;
}
@media screen and (max-width: 950px) {
	.proj {
		flex-direction: column;
	}
	.projects .proj .left,
	.projects .proj .right {
		width: 100%;
	}
	.projects .right {
		margin-top: 2em;
	}
	.projects p {
		padding: 0;
	}
}
@media screen and (max-width: 500px) {
	.projects h1 {
		color: rgb(255, 255, 255);
	}
	.projects a,
	.projects .gitlink {
		cursor: pointer;
	}
}
/* Project end */
/* Contact start */
.contact {
	width: 100vw;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	font-family: Roboto, sans-serif;
	background: #3344ff;
	position: relative;
	z-index: 1;
}
.contact svg {
	width: 100vw;
	position: absolute;
	top: 0;
	z-index: -1;
}
.contact h1 {
	font-size: 3em;
	text-shadow: 3px 3px #ffbb00;
}
.contact .contactform {
	width: 60%;
	padding: 1em;
	margin-top: 2em;
}
.contact .contactform form {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.contact .contactform form input,
.contact .contactform form textarea {
	width: 100%;
	font-size: 1.5em;
	padding: 0.5em;
	border: 2px solid #6868687c;
	border-radius: 0.25em;
	outline: none;
	margin-bottom: 1em;
	resize: vertical;
	transition: 0.5s ease;
	cursor: none;
}

.contact .contactform form .formctrl {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-left: 0.5em;
}
.contact .contactform form .formctrl label {
	font-size: 1.5em;
	font-weight: 500;
}
.contact .inputs {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.contact .button {
	font-size: 1.5em;
	padding: 0.5em 1em;
	outline: none;
	border: 2px solid #000;
	border-radius: 0.25em;
	transition: 0.5s ease;
	color: #ff8000;
	font-weight: 500;
	cursor: none;
}
.contact .button:hover {
	color: #fff;
	background: #ff8000;
	cursor: none;
}
.contact .contactform form input:focus,
.contact .contactform form textarea:focus {
	box-shadow: 0 0 0 5px rgba(255, 128, 0, 0.6);
}
.social {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2em;
}
.social .link {
	font-size: 3em;
	margin: 0 0.5em;
}
.social .link a {
	color: #fff;
	transition: 0.5s ease;
	cursor: none;
}
.social .link a:hover {
	color: #000;
}
@media screen and (max-width: 500px) {
	.contact .contactform {
		width: 100%;
	}
	.contact .inputs {
		flex-direction: column;
	}
	.contact h1 {
		color: #2c2c2c;
	}
	.contact .contactform form .formctrl label {
		color: #fff;
		margin-bottom: 0.125em;
	}
	.contact .contactform form input,
	.contact .contactform form textarea {
		cursor: auto;
	}
	.contact .button {
		cursor: pointer;
	}
	.social .link a {
		cursor: pointer;
	}
}
/* Contact end */

.techgrid {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 1em 0;
}

/* Navbar start */
.Navbar {
	display: flex;
	height: 16vh;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px 0 100px;
	flex-wrap: wrap;
	background: transparent;
	position: fixed;
	z-index: 99;
	top: 0;
	transition: 0.3s ease;
	font-family: "Open Sans", sans-serif;
}
.Navbar .logo {
	display: flex;
	align-items: center;
}
.Navbar .logo a {
	text-decoration: none;
	cursor: none;
}
.Navbar .logo h2 {
	margin-left: 1em;
	color: #fff;
}
.Navbar .logo span {
	color: #4a39d0;
}
.Navbar .navlinks {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}
.Navbar .navlinks li {
	margin: 0 5px;
}
.Navbar .navlinks li a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	font-weight: 700;
	padding: 8px 15px;
	border-radius: 5px;
	letter-spacing: 1px;
	transition: all 0.3s ease;
	cursor: none;
}
.Navbar .navlinks li a.active,
.Navbar .navlinks li a:hover {
	color: #f7d01e;
}
.Navbar .menu-btn i {
	color: #fff;
	font-size: 22px;
	cursor: pointer;
	display: none;
}
input[type="checkbox"] {
	display: none;
}

@media (max-width: 1000px) {
	.Navbar {
		padding: 0 40px 0 50px;
	}
}
@media (max-width: 930px) {
	.Navbar .menu-btn i {
		display: block;
	}
	#click:checked ~ .menu-btn i:before {
		content: "\f00d";
	}
	.Navbar .navlinks {
		background: #000;
		position: fixed;
		top: 80px;
		left: -100%;
		height: 100vh;
		width: 100%;
		text-align: center;
		display: block;
		transition: all 0.3s ease;
	}
	#click:checked ~ .navlinks {
		left: 0;
	}
	.Navbar .navlinks li {
		width: 100%;
		margin: 40px 0;
	}
	.Navbar .navlinks li a {
		color: #fff;
		width: 100%;
		margin-left: -100%;
		display: block;
		font-size: 20px;
		transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}
	#click:checked ~ .navlinks li a {
		margin-left: 0px;
	}
	.Navbar .navlinks li a.active,
	.Navbar .navlinks li a:hover {
		background: none;
		color: #f7d01e;
	}
}
@media screen and (max-width: 500px) {
	.Navbar .logo a,
	.Navbar .navlinks li a {
		cursor: pointer;
	}
}
.activeNav {
	height: 12vh;
	background-color: rgb(0, 0, 0);
}
.Navbar.active .logo h2,
.Navbar.active .menu-btn i {
	color: #fff;
}
#skill h1,
#projects h1,
#contact h1 {
	margin-top: 12vh;
}
